bookmarks
*.dat
auto-save-list
.DS_Store
tramp
.org-id-locations
%backup%~
image-dired
saved#*
saved
elpa
url
.emacs.desktop
.emacs.desktop.lock
.svn
.session
*.elc
.bzr
emacs-persistent-scratch*
/.bookmarks.el
